li{
    color: wheat;
}
li a{
    color: wheat;
}

h4{
    color: white;
}

body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d2/Voyager.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 + h4{
    border: 2px dashed;
}
h1{
    color: white;
}

a[href='/recibo']{
    color: orange;
}
 